@tailwind base;
@tailwind components;
@tailwind utilities;


.umar {
    background: linear-gradient(65deg, #76eb29, #1b43c7, #ff0080,#6104a0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  